<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApp</title>
    <style>
      body{
        background-color: rgb(0, 43, 59);
      }
    </style>
  </head>
  <body>
    <nav id = "renk" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Araç Takip </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav  mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about"
              >Hakkımızda <span class="sr-only">(current)</span></a
            >
          </li>
          
          {% if session["logged_in"] %}
          <li class="nav-item active">
            <a class="nav-link" href="/myVehicle"
              >Araçlarım <span class="sr-only">(current)</span></a
            >
          </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="/map"
            >Harita <span class="sr-only">(current)</span></a
          >
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if session["logged_in"] %}
          
          <li class="nav-item active">
            <a class="nav-link" href="/logout"
              > Çıkış Yap <span class="sr-only">(current)</span></a
            >
          </li>

          {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="/login">Giriş Yap <span class="sr-only">(current)</span></a >
          </li>
          
          {% endif %}
        </ul>
      </div>
    </nav>
  </body>
</html>
